PORT=3001
SUPABASE_URL=https://ntrwqhqlpfzwqaoflywy.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im50cndxaHFscGZ6d3Fhb2ZseXd5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjU2MTU4NywiZXhwIjoyMDg4MTM3NTg3fQ.4hnZBB2mfk_jniD7QkEg4duD9GgxYSi1h-Xa9uFKnNw
FRONTEND_URL=http://localhost:5173
